node_modules/
frontend/node_modules/
android/build/
android/app/build/
frontend/dist/
.DS_Store
node_modules
node_modules/
frontend/node_modules/

node_modules/
frontend/dist/






*.ps1

.env

venv/
__pycache__/
*.pyc
